@import "mocha.css";

* {
    font-family: "Hack Nerd Font Propo", Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    color: @text;
    font-family: 
        Hack Nerd Font Propo;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    background: @base;
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    color: @lavender;
}

#workspaces button {
  background: transparent;
  font-family:
    Hack Nerd Font Propo;
  font-weight: 900;
  font-size: 13pt;
  color: @text;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button:hover {
  color: @blue;
  box-shadow: none;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: transparent;
    color: @text;
}
